# Server Configuration
NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://admin:password123@localhost:5432/skilltrack?schema=public"
JWT_SECRET="super-secret-jwt-key-replace-in-production"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Email Configuration
EMAIL_PROVIDER=gmail
GMAIL_USER=your-project-email@gmail.com
GMAIL_APP_PASSWORD=
MOCK_EMAIL=true # Keep true for local development to skip actual sending